<app-navbar-back *ngIf="isAdmin" ></app-navbar-back>
<app-sidebar-back *ngIf="isAdmin"></app-sidebar-back>
<router-outlet *ngIf="isAdmin"></router-outlet>





<link rel="icon" href="/assets/BackOffice/images/favicon.ico" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="/assets/BackOffice/css/style.css">


    <script src="assets/BackOffice/js/vendor-all.min.js"></script>
    <script src="assets/BackOffice/js/plugins/bootstrap.min.js"></script>
    <script src="assets/BackOffice/js/pcoded.min.js"></script>

<!-- Apex Chart -->
<script src="assets/BackOffice/js/plugins/apexcharts.min.js"></script>


<!-- custom-chart js -->
<script src="assets/BackOffice/js/pages/dashboard-main.js"></script> 
