<h2>List of Carpoolings</h2>
<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Date</th>
      <th>Time</th>
      <th>Seats</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let carpooling of carpoolings">
      <td>{{ carpooling.destination }}</td>
      <td>{{ carpooling.arrivalTime | date }}</td>
      <td>{{ carpooling.arrivalTime | date:'shortTime' }}</td>
      <td>{{ carpooling.availableSeats }}</td>
      <td>{{ carpooling.pricePerSeat }}</td>
      <td>
        <button (click)="reserveCarpooling(carpooling.carpooling_id)">Reserve</button>

</td>

    </tr>
    <h2>My Carpooling Reservations</h2>

    <ul *ngIf="myReservations && myReservations.length > 0; else noReservations">
      <li *ngFor="let reservation of myReservations">
        Reservation ID: {{ reservation.reservation_id }} <br>
        Carpooling ID: {{ reservation.carpooling.carpooling_id }} <br>
        Departure Location: {{ reservation.carpooling.departure_location }} <br>
        Destination: {{ reservation.carpooling.destination }} <br>
        User ID: {{ reservation.user_id }}
        <button (click)="deleteMyReservation(reservation.reservation_id)">Delete</button>

      </li>
    </ul>
    
    <ng-template #noReservations>
      <p>You have no carpooling reservations yet.</p>
    </ng-template>
  </tbody>

  
</table>