<div class="container mt-4">
  <h2>Ajouter un Retour</h2>
  <form [formGroup]="returnForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="retourstatus">Statut du retour</label>
      <select class="form-control" formControlName="retourstatus" required>
        <option value="PENDING">PENDING</option>
        <option value="ACCEPTED">ACCEPTED</option>
        <option value="REJECTED">REJECTED</option>
      </select>
    </div>

    <div class="form-group mt-2">
      <label for="reason_description">Raison</label>
      <input type="text" class="form-control" formControlName="reason_description" required />
    </div>

    <div class="form-group mt-2">
      <label for="retourtype">Type de retour</label>
      <select class="form-control" formControlName="retourtype" required>
        <option value="RETURN">RETURN</option>
        <option value="EXCHANGE">EXCHANGE</option>
        <option value="REFUND">REFUND</option>
      </select>
    </div>

    <!-- Utilisation du calendrier avec vue mensuelle -->
    <div class="form-group mt-2">
      <label>Date du retour</label>
      <mwl-calendar-month-view
        [viewDate]="viewDate"
        [events]="[]"
        [dayModifier]="dayModifier"

        (dayClicked)="onDateSelected($event)">
      </mwl-calendar-month-view>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-3 mb-2">
      <button class="btn btn-outline-primary" (click)="prevMonth()">⬅ Mois précédent</button>
      <h5>{{ viewDate | date:'MMMM yyyy' }}</h5>
      <button class="btn btn-outline-primary" (click)="nextMonth()">Mois suivant ➡</button>
    </div>
    

    <div *ngIf="selectedDate" class="mt-2">
      <strong>Date sélectionnée :</strong> {{ selectedDate | date:'longDate' }}
    </div>

    <button type="submit" class="btn btn-success mt-3" [disabled]="returnForm.invalid">
      Ajouter
    </button>
  </form>
</div>
