<div class="container mt-4">
    <!-- Afficher le message d'erreur si existant -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      <strong>Error!</strong> {{ errorMessage }}
    </div>
  
    <!-- Afficher le message de succès si existant -->
    <div *ngIf="successMessage" class="alert alert-success">
      <strong>Success!</strong> {{ successMessage }}
    </div>
  
    <form [formGroup]="reportForm" (ngSubmit)="onSubmit()">
      <!-- Report Name -->
      <div class="form-group">
        <label for="report_name">Report Name</label>
        <input type="text" class="form-control" id="report_name" formControlName="report_name" />
        <div *ngIf="reportForm.controls['report_name'].invalid && reportForm.controls['report_name'].touched" class="text-danger">
          Report Name is required.
        </div>
      </div>
  
      <!-- Report Description -->
      <div class="form-group">
        <label for="report_description">Report Description</label>
        <textarea class="form-control" id="report_description" formControlName="report_description"></textarea>
        <div *ngIf="reportForm.controls['report_description'].invalid && reportForm.controls['report_description'].touched" class="text-danger">
          Report Description is required.
        </div>
      </div>
  
      <!-- Report Status -->
      <div class="form-group">
        <label for="status">Report Status</label>
        <select class="form-control" id="status" formControlName="status">
          <option value="">Select Status</option>
          <option *ngFor="let status of retourStatusList" [value]="status">{{ status }}</option>
        </select>
        <div *ngIf="reportForm.controls['status'].invalid && reportForm.controls['status'].touched" class="text-danger">
          Status is required.
        </div>
      </div>
  
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary" [disabled]="reportForm.invalid">Submit</button>
    </form>
</div>
