<div class="container mt-4">
    <!-- Afficher le message d'erreur si existant -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      <strong>Error!</strong> {{ errorMessage }}
    </div>
  
    <!-- Afficher le message de succès si existant -->
    <div *ngIf="successMessage" class="alert alert-success">
      <strong>Success!</strong> {{ successMessage }}
    </div>
  
    <form [formGroup]="returnForm" (ngSubmit)="onSubmit()">
      <!-- Return Status 
      <div class="form-group">
        <label for="retourstatus">Return Status</label>
        <select class="form-control" id="retourstatus" formControlName="retourstatus">
          <option value="">Select Status</option>
          <option *ngFor="let status of retourStatusList" [value]="status">{{ status }}</option>
        </select>
        <div *ngIf="returnForm.controls['retourstatus'].invalid && returnForm.controls['retourstatus'].touched" class="text-danger">
          Status is required.
        </div>
      </div> -->
  
      <!-- Reason for Return -->
      <div class="form-group">
        <label for="reason_description">Reason for Return</label>
        <textarea class="form-control" id="reason_description" formControlName="reason_description"></textarea>
        <div *ngIf="returnForm.controls['reason_description'].invalid && returnForm.controls['reason_description'].touched" class="text-danger">
          Reason is required.
        </div>
      </div>
  
      <!-- Return Type -->
      <div class="form-group">
        <label for="retourtype">Return Type</label>
        <select class="form-control" id="retourtype" formControlName="retourtype">
          <option value="">Select Type</option>
          <option *ngFor="let type of retourTypeList" [value]="type">{{ type }}</option>
        </select>
        <div *ngIf="returnForm.controls['retourtype'].invalid && returnForm.controls['retourtype'].touched" class="text-danger">
          Type is required.
        </div>
      </div>
  
      <!-- Parcel ID -->
     
  
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary" [disabled]="returnForm.invalid">Submit</button>
    </form>
  </div>
  