/* src/app/carpooling/carpooling.component.css */
form {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea {
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .container {
    display: flex;
    flex-direction: column; /* Changed to column */
    align-items: center; /* Added to center items horizontally */
    margin-top: 50px;
    position: relative; /* Added to position custom-content relative to this */
  }
  
  ::ng-deep .bs-datepicker {
    height: 350px;
  }
  
  .custom-content {
    position: absolute;
    z-index: 1081;
    top: 100%; /* Position below the datepicker */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    cursor: pointer;
    background-color: white; /* Add background color */
    padding: 5px;
    border: 1px solid #ccc; /* Add border */
    margin-top: 10px; /* Add some space between the datepicker and custom content */
  }
  