
        <!-- Footer Start -->
        <div class="container-fluid footer py-6 my-6 mb-0 bg-success wow bounceInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceInUp;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <h1 class="text-white">Speedy<span class="text-dark">Go</span></h1>
                            <p class="lh-lg mb-4 text-white">Your trusted partner for fast and reliable deliveries. We ensure safe and speedy transport for your products wherever they need to go.</p>
                            <div class="footer-icon d-flex">
                                <a class="btn btn-light btn-sm-square me-2 rounded-circle" href="https://www.facebook.com/SpeedyGo"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-light btn-sm-square me-2 rounded-circle" href="https://twitter.com/SpeedyGo"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.instagram.com/SpeedyGo" class="btn btn-light btn-sm-square me-2 rounded-circle"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/company/SpeedyGo" class="btn btn-light btn-sm-square rounded-circle"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <h4 class="mb-4 text-white">Our Services</h4>
                            <div class="d-flex flex-column align-items-start">
                                <a class="text-white mb-3" href=""><i class="fa fa-check text-light me-2"></i>Express Delivery</a>
                                <a class="text-white mb-3" href=""><i class="fa fa-check text-light me-2"></i>Same-Day Delivery</a>
                                <a class="text-white mb-3" href=""><i class="fa fa-check text-light me-2"></i>International Shipping</a>
                                <a class="text-white mb-3" href=""><i class="fa fa-check text-light me-2"></i>Track Your Package</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <h4 class="mb-4 text-white">Contact Us</h4>
                            <div class="d-flex flex-column align-items-start">
                                <p><i class="fa fa-map-marker-alt text-light me-2"></i> 123 Fast Lane, Speedy City</p>
                                <p><i class="fa fa-phone-alt text-light me-2"></i> (+123) 456 7890</p>
                                <p><i class="fas fa-envelope text-light me-2"></i> support Speedygo.com</p>
                                <p><i class="fa fa-clock text-light me-2"></i> 24/7 Customer Support</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="index.html" class="navbar-brand">
                            <h1 class="mb-0">
                                <img src="assets/FrontOffice/img/dark-logo2.jpg" alt="SpeedyGo Logo" class="text-primary fw-bold" />
                              </h1>                    </a>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->