<div class="pcoded-main-container">
    <div class="pcoded-content">
      <div class="col-xl-12 col-md-12">
        <div class="card table-card">
          <div class="card-header">
            <h5>Users List</h5>
            <div class="card-header-right">
              <div class="btn-group card-option">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="feather icon-more-horizontal"></i>
                </button>
                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                  <li class="dropdown-item reload-card"><a href="#" (click)="fetchUsers()"><i class="feather icon-refresh-cw"></i> Reload</a></li>
                </ul>
              </div>
              <div class="btn-group card-option">
                <button type="button" class="btn btn-success" (click)="navigateToAddUser()">
                  Add User
                </button>
              </div>
            </div>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone_number }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.sexe }}</td>
                    <td>
                      <button class="btn btn-danger btn-sm m-1" (click)="deleteUser(user)">Delete</button>
                      <button (click)="updateUser(user.user_id!)" class="btn btn-warning">Update</button>
                    </td>
                  </tr>
                  <tr *ngIf="users.length === 0">
                    <td colspan="6" class="text-center">No users found.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  