<div class="user-profile">
    <!-- Profile Icon -->
    <div class="profile-icon" (click)="toggleProfileCard()">
        <img [src]="user?.profilePicture ?? ''" alt="Profile Picture">
        <span *ngIf="!user?.profilePicture">👤</span>
    </div>
  
    <!-- Profile Card -->
    <div *ngIf="isProfileCardVisible && user" class="profile-card">
      <div class="profile-picture">
        <img [src]="user.profilePicture" alt="Profile Picture">
      </div>
      <div class="profile-details">
        <p><strong>Name:</strong> {{ user.firstName }} {{ user.lastName }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone:</strong> {{ user.phoneNumber }}</p>
        <p><strong>Address:</strong> {{ user.address }}</p>
        <p><strong>Birth Date:</strong> {{ user.birthDate }}</p>
        <p><strong>Gender:</strong> {{ user.sexe }}</p>
        <p><strong>Role:</strong> {{ user.role }}</p>
      </div>
    </div>
  </div>